/* Version: 1.4 */

.posts-pagination-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.posts-pagination-link{
    justify-content:  space-evenly;
}

.tooltip {  
    position: relative;
    display: inline-block;
  }
  

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    transition: 0.5s;
    opacity: 0.15;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.75;
  }
